<p>
  <%= form.label :name, 'Nome' %><br />
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :hired_on, 'Contratado em' %><br />
  <%= form.date_select :hired_on %>
</p>
<p>
  <%= form.label :fired_on, 'Demitido em' %><br />
  <%= form.date_select :fired_on %>
</p>			  
<p>
  <%= form.label :salary, 'Salário' %><br />
  <%= form.text_field :salary %>
</p>

<div id="benefits">
	<h3>Benefícios</h3>
	<%= select_tag 'employee[benefit_ids][]', options_from_collection_for_select(@benefits, 'id', 'name') %>
</div>

<div id="roles">
	<h3>Cargos</h3>
	<%= collection_select(:employee, :role_id, Role.all, :id, :name) %> 
</div>

<p>
  <%= form.submit 'Criar' %>
</p>


<%= link_to 'Voltar', roles_path %>