<%= form.error_messages %>

<p>
  <%= form.label :name, 'Nome' %><br />
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :hired_on, 'Contratado em' %><br />
  <%= form.date_select :hired_on %>
</p>
<p>
  <%= form.label :salary, 'Salário' %><br />
  <%= form.text_field :salary %>
</p>

<p>
	Cargo <br>
	<%= select_tag 'employee[role_id]', options_from_collection_for_select(@roles, 'id', 'name', @employee.try(:role).try(:id)) %>	
</p>


<h3>Benefícios</h3>
<div id="benefits">
	<% @employee.benefit_ids.each do |benefit_id| %>
		<%= select_tag 'employee[benefit_ids][]', options_from_collection_for_select(@benefits, 'id', 'name', benefit_id)%>
		<br />
	<% end %>

	<%= add_benefit_link %>
</div>