<p>
  <b>Employees:</b>
  <%=h @timetable.employees_id %>
</p>

<p>
  <b>Entryhour:</b>
  <%=h @timetable.entryHour %>
</p>

<p>
  <b>Departurehour:</b>
  <%=h @timetable.departureHour %>
</p>


<%= link_to 'Edit', edit_timetable_path(@timetable) %> |
<%= link_to 'Back', timetables_path %>